# Node
node_modules/
frontend/.next/

# Logs
*.log

# OS/system files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Env
.env
*.env
.env.*
.env.local

# Ignore .env.local
frontend/.env.local

# Ignore package-lock.json
frontend/package-lock.json

# Go
backend/bin/
backend/*.exe
backend/tmp/

# Optional docker stuff
**/Dockerfile.*
.dockerignore
.env.local
